<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0EWWS1ZZ18"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-0EWWS1ZZ18');
    </script>

    <title>RecipAI - レシピ結果</title>

    <script>
        function showSubstitutes() {
            document.getElementById("substitute-box").style.display = "block";
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>レシピ結果 🍽</h1>
        <p><strong>使用した食材:</strong> {{ ingredients }}</p>
        <div class="recipe-box">
            <p>{{ recipe|safe }}</p>
        </div>
        <button class="substitute-button" onclick="showSubstitutes()">代替品を提案</button>
        <div id="substitute-box" class="substitute-box">
            <h2>代替品の提案</h2>
            <p><p style="white-space: pre-line;">{{ substitutes|safe }}</p></p>
        </div>
        <a href="/" class="back-button">🔙 戻る</a>
    </div>
</body>
</html>
